 body,
 html {
     width: 100%;
     height: 100%;
     margin: 0;
     text-align: center;
 }

 .container {
     background-color: rgb(135, 94, 218);
     width: 96, 5%;
     min-height: 94%;
     padding: 30px;
     margin: 0 auto;
 }

 .body, .gameBody {
     border-bottom: 2px solid rgb(35, 144, 122);
 }

 .block, .board {
     border: 1px solid black;
     border-radius: 10px;
     background-color: rgb(35, 144, 122);
     margin: 0 auto;
     width: 450px;
     height: 40px;
 }

 .block div, .board div {
     border: 1px solid black;
     width: 70px;
     height: 70px;
     float: left;
     margin: 2px;
     background-color: rgb(155, 205, 195);
 }

 .buttons {
     width: 500px;
     height: 70px;
     margin: 30px auto 0 auto;
     text-align: center;
 }

 img {
     width: 70px;
     height: 70px;
 }

 button,
 select {
     padding: 7px;
     margin-right: 20px;
     border-radius: 10px;
     background-color: rgb(35, 144, 122);
     color: white;
     font-size: 15px;
     border: none;
 }

 h3 {
     color: white;
     font-size: 30px;
     text-align: center;
 }

 .overlay, .gameOverWindow {
     /* position: fixed; */
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.7);
     display: none;
 }

 .alert {
     /* position: fixed; */
     top: 10%;
     margin: 0 auto 0 auto;
     left: 37%;
     width: 700px;
     height: 700px;
     text-align: center;
     padding: 10px;
 }

 .alert button {
     bottom: 1px;
     border: none;
 }

 .message {
     padding-top: 40px;
     padding-bottom: 70px;
     font-size: 43px;
     font-weight: bold;
     color: white;
 }

 .movement {
     width: 350px;
     margin: 20px auto;
     text-align: center;
 }

 .up,
 .down {
     width: 200px;
     margin: 7px auto;
     border: none;
 }

 .left,
 .right {
     width: 125px;
     margin: 0 20px;
     border: none;
 }

 .new_board, #newGame {
     width: 280px;
     margin: 10px auto;
     border: none;
 }